#  Workflow by Photon Vision: https://github.com/PhotonVision/photonvision/blob/main/.github/workflows/build.yml
#  Licensed under the GNU General Public License: https://www.gnu.org/licenses/

#  Copyright (C) Photon Vision.
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <https://www.gnu.org/licenses/>.

name: Build

on:
  # Run on pushes to main and pushed tags, and on pull requests against main, but ignore the docs folder
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  IMAGE_VERSION: v2026.0.6

jobs:
  build-gradle:
    name: "Gradle Compile"
    runs-on: ubuntu-22.04
    steps:
      # Checkout code.
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch tags
        run: git fetch --tags --force
      - name: Install Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Gradle Build
        run: ./gradlew compileJava

  build-package:
    needs: [build-gradle]

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            artifact-name: Win64
            architecture: x64
            arch-override: winx64
          - os: macos-latest
            artifact-name: macOS
            architecture: x64
            arch-override: macx64
          - os: macos-latest
            artifact-name: macOSArm
            architecture: x64
            arch-override: macarm64
          - os: ubuntu-22.04
            artifact-name: Linux
            architecture: x64
            arch-override: linuxx64
          - os: ubuntu-22.04
            artifact-name: LinuxArm64
            architecture: x64
            arch-override: linuxarm64

    runs-on: ${{ matrix.os }}
    name: "Build JAR - ${{ matrix.artifact-name }}"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          architecture: ${{ matrix.architecture }}
      - uses: actions/upload-artifact@v4
        with:
          name: jar-${{ matrix.artifact-name }}
          path: build/libs/BatteryTracking-${{ matrix.arch-override }}.jar
